@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "Arquitecta";
  src: url("../fonts/Arquitecta.otf") format("opentype");
}

@font-face {
  font-family: "Arquitecta Bold";
  src: url("../fonts/ArquitectaBold.otf") format("opentype");
}

@font-face {
  font-family: "MyanmarMN";
  src: url("../fonts/Myanmar1.ttf") format("truetype");
}
